on: [push]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    name: Build and test the GitHub Action

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v1

    - name: Run the private action
      uses: ./

    - name: Check output
      run: |
        ls -al $GITHUB_WORKSPACE
        
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: azsphere-imagepackage
        path: HLApp_AzureIoT_WIZASG200.imagepackage